html {
    height: 100%; 
}

body {
    background-color: #1C1C1C;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.wrapper {
    background-color: #ECFDF5;
    height: 550px;
    width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.color-title {
    display: block;
    color: #10B981;
    padding-left: 0px;
}

.title {
    color: black;
    font-size: 40px;
}

h1 {
    margin-bottom: 15px;
    font-family: 'Karla', sans-serif;
    color: #2B283A;
    font-size: 40px;
    line-height: 40px;
}

h2 {
    font-size: 20px;
    color: #6B7280;
    margin: 0px;
    padding-bottom: 50px;
    font-size: 20px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

#passwordBtn, .password {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#passwordBtn {
    background-color: #10B981;
    margin: 0px;
    padding: 10px 15px;
    border-radius: 3px;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
}

.password {
    text-align: center;
    background-color: #273549;
    border-radius: 5px;
    border: none;
    padding: 10px 15px;
    color: #5DEF92;
    width: 180px;
    
}

.inside-wrapper {
    padding: 0px 54px;
}

.input-wrappers {
    display: flex;
    gap: 24px;
}

hr {
    height: 1px;
    border: none;
    background-color: #D5D4D8;
    margin: 30px 0px;
}
